[submodule "racecar"]
	path = racecar
	url = https://github.com:xpharry/racecar.git

[submodule "racecar_gazebo"]
	path = racecar_gazebo
	url = https://github.com:xpharry/racecar_gazebo.git

[submodule "particle_filter"]
	path = particle_filter
	url = https://github.com:xpharry/particle_filter.git

[submodule "range_libc"]
	path = range_libc
	url = https://github.com:kctess5/range_libc.git
